@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    color: #6D7378;
    transition: all ease-in 0.3s;
}

body {
    background-color: #F8F8F8;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 900;
    font-size: 24px;
    width: max-content;
}

h3 {
    font-weight: 500;
    font-size: 14px;
    width:max-content;
    text-align: right;
}

::-webkit-scrollbar {
    height: 6px;
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    margin-block: 0.5em;
    border-radius: 6px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #adb5bd;
    border-radius: 6px;
    cursor: pointer;
  }
  